body {
  text-align: center;
  background: linear-gradient(#e1bee7 0%, #90caf9 100%);
  background-repeat: no-repeat;
}

h1 {
  text-shadow: 2px 2px #f8bbd0;
  font-size: 50px;
}

p {
  padding: 2 0px;
  font-size: 25px;
  text-align: center;
}
